<!doctype html>
<html lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="apple-touch-icon" href="icon.png">
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<header>
			<h1>Select The Category</h1>
			<h2>?</h2>
		</header>
		<main>
			<div class="tiles_container">
				<div class="tile">
					<div class="tile_image"><img src="../images/category/todler.jpg" alt="toddler baby">
						<div class="tile_label"><p>Toddler</p>
						</div>
					</div>
				</div>
				<div class="tile">
					<div class="tile_image"><img src="../images/category/youngchild.jpg" alt="young child boy">
						<div class="tile_label"><p>Young Child</p>
						</div>
					</div>
				</div>
				<div class="tile">
					<div class="tile_image"><img src="../images/category/oldchild.jpg" alt="10 years old girl">
						<div class="tile_label"><p>Old Child</p>
						</div>
					</div>
				</div>
				<div class="tile">
					<div class="tile_image"><img src="../images/category/tween.png" alt="Tween boy">
						<div class="tile_label"><p>Tween</p>
						</div>
					</div>
				</div>
			</div>



			</main>
		<script src="start.js"></script>
	</body>

</html>
