<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="manifest" href="../../manifest.json">
			<link rel="apple-touch-icon" href="icon.png">
		<link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<header>
			<h1>Which Animal Makes This Sound??</h1>
		</header>
		<main>
    <embed name="CatSound" src="../sound/bark.mp3" loop="infinite" hidden="true" autostart="true">
      <div class="navigation"><a href="index.html"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    <a href="index.html">  <button class="btn_close"><i class="fa fa-close"></i> Close</button></a>
      </div>
      <div class="score_board">
        <label for="score">Score:</label>
        <input type="text" class="score_screen" value="1" disabled>
      </div>
			<div class="sound"><h2>"Woff-Woff"</h2></div>
				<div class="cards_container">
				<div class="card">
					<div class="card_image"><img src="../images/options/pig1.png" alt="piglet">
					</div>
						<div class="card_label"><p>Pig</p>
					</div>
				</div>
        <div class="card">
        <div class="card_image"><img src="../images/options/cat1.jpg" alt="kitten" id="cat" class="cat">
        </div>
        <div class="card_label"><p>Cat</p>
        </div>
        </div>
				<div class="card">
					<div class="card_image"><img src="../images/options/dog1.jpg" alt="dog puppy" class="dog1">
					</div>
						<div class="card_label"><p>Dog</p>
					</div>
				</div>
				<div class="card">
					<div class="card_image"><img src="../images/options/goat1.jpg" alt="baby goat kid">
					</div>
						<div class="card_label"><p>Goat</p>
					</div>
				</div>
			</div>



			</main>
		<script src="../js/quiz.js"></script>

	</body>

</html>
