<!doctype html>
<html lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="manifest" href="../../manifest.json">
		<link rel="apple-touch-icon" href="icon.png">
		<link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<header>
			<h1>Let's Do Maths..</h1>
		</header>
		<main>
      <embed name="CatSound" src="../sound/yc.mp3" loop="infinite" hidden="true" autostart="true">
      <div class="navigation"><a href="index.html"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    <a href="index.html">  <button class="btn_close"><i class="fa fa-close"></i> Close</button></a>
      </div>
      <div class="quiz-container">
  <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>
      </main>
      <script src="../js/ycquiz.js"></script>
  </body>
</html>
